# IDE and various other developer tools
.idea
.ipynb_checkpoints
*.swp
.vscode/*.log

# Misc
!.gitkeep
*.orig
.github-artifacts


# Packaging
build/
dist/
reports/
node_modules/

# Python
.env
.venv
venv
*.pyc
__pycache__
.mypy_cache
**/.pytest_cache/
.ruff_cache/

# certs/keys/pems
*.crt
*.csr
*.key
*.pem
*.pfx
*.srl*
*.csr.cfg
*id_rsa*

# mailbox passwords etc.
*secrets.json
*.keystore

# Big binaries
*.bz2
*.gz
*.jar
*.tar.gz
*.tgz
*.zip